/* CSS 모듈 사용 이점: 스타일 충돌 위험을 줄이기 위해 
기본적으로 CSS 클래스를 구성 요소에 로컬로 적용할 수 있는 방법 제공*/

.shape {
  height: 0;
  width: 0;
  border-bottom: 30px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
